/*e thich kho dam */

#DONOTTOUCHTHISDIV{
    width:100vw;
    height:2000px;
    padding-top:0;
    margin: 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
@keyframes theater{
    0%{background-color: white;}
    8%{background-color: black; color:rgb(143, 139, 139);}
}
@keyframes theater2{
    0%{background-color: rgb(80, 73, 73);}
    3%{background-color: white}
}
#header{
    width:90vw;
    border:2px solid black;
    height:80px;                
    position:sticky;
    top:0px;
    background-color:rgb(246, 226, 226);
}
#left-body{
    height:100%;
    width: 20%;
    border:2px solid black;

    margin-top:30px;

}
#mainbody{
    height:100%;
    width: 72%;
    border:2px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:30px;     
    white-space:nowrap;  
}
#videoshit{
    width:100%;
    height:70%;
    position:sticky;
    top:80px;
    transform:translateY(-1000px)

}
#footer{
    height:80px;
        border:2px solid black;
        width: 90vw;
    margin-top:50px;
}
#headeritems{
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/* Header Navigation */
#headeritems li{
    display: inline-block;
    transform: translateY(-12px);    
}
#logo{
    height:70px;
    width: 103px;

}
#search-bar{
    display:flex;
    width: 200px;
    height: 50px;
}
#search-bar label{
    color:rgb(33, 42, 35);
    height:30px;
    transform: translateY(12px);
}
#searchtext{
    flex: 1;
}
.bruh{
    height:0px;
    width: 3px;
    transform: translateX(-12px);
}
 /*inside left-body CSS */
 .body-header{
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;  position:sticky;
    top:90px;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(rgb(255, 255, 255),rgb(207, 199, 199));
}
#menu-icon{
    padding-left:10px;
}

@keyframes arr{
    100%{transform: rotate(90deg);}
}
@keyframes arr2{
    0%{transform: rotate(90deg);}
    100%{transform: rotate(-360deg);}
}
#left-body-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
   
}
#menu-contents {
    padding-left:0px;
    margin-left: 10%;
    visibility:hidden;
    transform-origin: top;
    white-space:nowrap;
    user-select: none;  position:sticky;
    top:134px;
  
}
@keyframes menushowing{
    0%{opacity:0;scale:0;}
    100%{opacity:1;scale:1;}
}
#menu-contents li{
    list-style: none;
    margin:0px 0px 15px 0;
    width: 70%;
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;

}
#Menuclick p{
   visibility:hidden;
   position:absolute;  
   top:-5px;
   left:20%;  
}
.mainbody-items{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    cursor:pointer;
    
    background-size:cover;
    background-repeat: no-repeat;
    float: right;
}
.overlay:hover{
    opacity:1;
}
.overlay{
    width: 200px;
    
    height: 300px;
    position: relative;       
    background-color:rgba(0, 0, 0, 0.39);
    align-items:center;     
    line-height: 330px;
    opacity: 0;
}
.BUY{
    width: 80px;
    height: 30px;
}
#viewitem{
    background-color: red;
    color: white;
    border-radius: 4px;
    border:0px;
    text-shadow: 5px 5px 15px rgb(255, 9, 9);
    margin-left:10px;
}
#viewitem:hover{
    background-color: rgb(68, 44, 44);


}
#buy{
    background-color: rgb(236, 211, 195);
    color: rgb(2, 1, 0);
    border-radius: 4px;
    margin-left:12px;
    border:0px;
}
/* 







 */
@media (min-width: 1200px){
    #DONOTTOUCHTHISDIV{
        width:98vw;
        height:100vh;
        padding-top:0;
        margin: 0;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;    
        align-items:stretch;
        justify-content:space-between;
        
    }
    #header{
        width:100%;
        height:80px;
        order:1;     
        border:2px solid black;
        position:sticky;
        top:0px;
        background-color:rgb(246, 226, 226);
        
    }
    #videoshit{
        width:100%;
        height:80%;
        position:fixed;
        top:0px; 
        margin-top:100px;
        transform:translateX(-200px);

    }
    #left-body{
        height:100%;
        width: 180px;
        border:2px solid black;

        margin-top:50px;       
        order:2;     
    }
    #mainbody{
        height:100vh;
        width: 1050px;
        border:2px solid black;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        order:3;     
        
        overflow: auto;
        white-space:nowrap;
        margin-top:50px;       
    }
    #right-body{
        height:100%;
        width: 200px;
        border:2px solid black;

        order:4;     
        margin-top:50px;
    }
    #footer{
        height:80px;
        width: 100vw;
        border:2px solid black;
        order:5;     
        margin-top:30px;
    }

    #headeritems{
        list-style: none;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    /* Header Navigation */
    #headeritems li{
        display: inline-block;
        transform: translateY(-12px);    
    }
    #logo{
        height:75px;
        width: 150px;
        cursor: pointer;

    }
    #search-bar{
        display:flex;
        width: 1000px;
        height: 50px;
    }
    #search-bar label{
        color:rgb(33, 42, 35);
        height:30px;
        transform: translateY(12px);
    }
    #searchtext{
        flex: 1;
    }
    .bruh{
        height:70px;
        width: 83px;
        transform: translateX(-12px);
    }
    /*inside left-body CSS */
    .body-header{
        width: 100%;
        height: 40px;
        display: flex;
        cursor: pointer;  position:sticky;
        top:84px;
        align-items: center;
        justify-content: space-between;
        background:linear-gradient(rgb(255, 255, 255),rgb(207, 199, 199));
    }   
    #menu-icon{
        padding-left:10px;
    }      
    
    @keyframes arr{
        100%{transform: rotate(90deg);}
    }
    @keyframes arr2{
        0%{transform: rotate(90deg);}
        100%{transform: rotate(-360deg);}
    }
    #left-body-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
       
    }
    #menu-contents {
        padding-left:0px;
        margin-left: 15%;
        visibility:hidden;
        transform-origin: top;
        user-select: none;  position:sticky;
        top:144px;
      
    }
    @keyframes menushowing{
        0%{opacity:0;scale:0;}
        100%{opacity:1;scale:1;}
    }
    #menu-contents li{
        list-style: none;
        margin:0px 0px 15px 0;
        width: 70%;
        border: 3px solid;
        border-radius: 5px;
        cursor: pointer;

    }
    #Menuclick p{
        visibility:visible;
        position:none;            
     }
 
    .overlay:hover{
        opacity:1;
    }
    .overlay{
        width: 200px;
        height: 300px;
       
        position: relative;       
        background-color:rgba(0, 0, 0, 0.39);
        align-items:center;     
        opacity: 0;
    }
    .BUY{
        width: 80px;
        height: 30px;
    }
    #viewitem{
        background-color: red;
        color: white;
        border-radius: 4px;
        border:0px;
        text-shadow: 5px 5px 15px rgb(255, 9, 9);
        margin-left:10px;
    }
    #viewitem:hover{
        background-color: rgb(68, 44, 44);


    }
    #buy{
        background-color: rgb(236, 211, 195);
        color: rgb(2, 1, 0);
        border-radius: 4px;
        margin-left:12px;
        border:0px;
    }
}